.list-item {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 8px;
    padding: 16px 32px;
    flex-wrap: wrap;
}

.list-item-info > span:first-child {
    font-size: 20px;
    font-weight: 500;
}

.list-item-info > span {
    padding: 4px 0;
}

.list-item-edit .buttons-group {
    margin-top: 16px;
}

.list-item button {
    margin: 8px;
}